<ul class="nav nav-tabs">

  {{#if user}}

  <li class="nav-item">
    <a href="" class="nav-link active" aria-current="page" href="/content">Contenido</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Consolas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Juegos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Accesorios</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Agregar</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/content/inicio">Consola</a></li>
      <li><a class="dropdown-item" href="#">Juego</a></li>
      <li><a class="dropdown-item" href="#">Accesorio</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="/logout" class="nav-link">LogOut</a>
  </li>

  {{/if}}

</ul>