<ul class="nav nav-tabs">
  {{#if user}}
  <li class="nav-item">
    <a href="" class="nav-link active" aria-current="page" href="/content">Contenido</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/content">Consolas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/content/juegos">Juegos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/content/accesorios">Accesorios</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Agregar</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/content/add">Consola</a></li>
      <li><a class="dropdown-item" href="/content/addjuego">Juego</a></li>
      <li><a class="dropdown-item" href="/content/addAcc">Accesorio</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">LogOut</a>
  </li>
  {{else}}
    <li class="nav-item">
      <a class="nav-link" href="/signin">Signin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signup">SignUp</a>
    </li>
  {{/if}}
</ul>