<div class="container">

<form class="row g-3 mt-5" action="/signup" method="POST">
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Nombre</label>
    <input type="text" class="form-control" name="nombre" placeholder="Fulanito">
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Apellido</label>
    <input type="text" class="form-control" name="apellido" placeholder="ejemplo">
  </div>
  <div class="col-12">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>

</div>